= render "vision"
= render "projects"
/ = render "partials/about/clients"
/ = render "partials/about/team"
/ = render "partials/about/timeline"
/ = render "partials/events/main"
/ = render "partials/contact/main"

= render "main/modals/image"
