.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.nav {
  min-height: 48px;
  width: 100%;

  li,
  p,
  a {
    position: relative;
    display: block;
  }

  li {
    float: left;
    font-weight: 500;
    letter-spacing: .01em;
    text-align: center;

    &.active a {
      color: rgba($light-green-500, .75);
    }
  } // end '.nav li'

  p,
  a {
    font-size: 14px;
    color: rgba(#FFF,.8);
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    @include transition(background-color .25s);

    &:focus {
      outline: none;
    }
  } // end '.nav p,a'

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

} // end '.nav'


.nav__menu {
  height: 48px;
  min-width: 992px;
  background-color: $gray-900;

  li {
    width: 25%;
    padding: 0 24px;
  }

  p,
  a {
    line-height: 48px;

    &.focused,
    &:focus {
      background-color: $gray-700;
    }

    &:hover {
      background-color: $gray-800;
    }
  } // end '.nav__menu p,a'

} // end '.nav__menu'


.nav__sub-menu {
  height: 80px;
  background-color: $gray-700;

  li {
    width: 150px;
  }

  a {
    line-height: 80px;

    &:focus {
      background-color: $gray-500;
    }

    &:hover {
      background-color: $gray-600;
    }
  } // end '.nav__sub-menu a'

} // end '.nav__sub-menu'
