.header{
  position:fixed;
  top:0;
  left:0;
  height:56px;
  width:100%;
  padding:0 16px;
  background-color:#FFF;
  z-index:50;
  @include transition(all .3s cubic-bezier(.4,0,.2,1));

  @include landscape{
    height:48px;
  }

  @include tablet{
    height:64px;
  }

  &.navbar-open{
    width:calc(100% - 260px);
    left:260px;
  }
} // end '.header'


/*=========================
      Navbar Toggle
=========================*/
input.navbar-toggle{
  display:none;
}

label.navbar-toggle{
  position:relative;
  float:left;
  margin-left:-16px;
  padding:28px;

  @include landscape{
    padding:24px;
  }

  @include tablet{
    padding:32px;
  }

  .hamburger{
    top:26px;
    left:16px;

    @include landscape{
      top:22px;
      left:14px;
    }

    @include tablet{
      top:30px;
      left:18px;
    }

    &,
    &:before,
    &:after{
      display:block;
      position:absolute;
      height:3px;
      width:24px;
      background-color:#000;
      @include transition(all .3s cubic-bezier(.4,0,.2,1));
    }


    &:before,
    &:after{
      content:'';
    }

    &:before{
      top:-6px;
    }

    &:after{
      top:6px;
    }
  } // end '.hamburger'

  input.navbar-toggle:checked ~ &{
    position:fixed;
    top:0;
    height:100%;
    width:100%;
    z-index:75;

    .hamburger{
      &:before,
      &:after{
        width:12px;
      }

      &:before{
        top:-5px;
        @include transform(rotate(-45deg));
      }

      &:after{
        top:5px;
        @include transform(rotate(45deg));
      }
    } // end '.hamburger'
  } // end 'input.navbar-toggle:checked ~ label.navbar-toggle'
} // end 'label.navbar-toggle'


/*=========================
          Navbar
=========================*/
.navbar{
  position:fixed;
  top:0;
  left:-260px;
  height:100%;
  width:260px;
  background-color:$gray-900;
  overflow-x:hidden;
  overflow-y:auto;
  z-index:0;
  -webkit-overflow-scrolling:touch;
  @include transition(left 0s cubic-bezier(.4,0,.2,1) .3s);

  &.open{
    left:0;
    @include transition(left 0s cubic-bezier(.4,0,.2,1) 0s);
  }


  /*=========================
            Ripple
  =========================*/
  .ripple{
    position:absolute;
    border-radius:50%;
    opacity:0;
    @include transform(scale(0,0));
    @include animation(buttonClick .7s);
  }


  /*=========================
         Navbar Menu
  =========================*/
  & > ul > li{
    &:not(:first-child){
      border-top:2px solid $gray-700;
    }

    &:not(:first-child):hover,
    &:hover + li{
      border-top:2px solid $gray-800;
    }
  }

  ul{
    list-style-type:none;
    margin:0;
    padding:0;

    li{
      font-weight:500;
      letter-spacing:.01em;

      p{
        margin:0;
        height:64px;
        padding-left:24px;
        line-height:64px;

        &:after{
          float:right;
          padding-right:12px;
          font-family:'FontAwesome';
          font-size:16px;
        }

        &[aria-expanded='false']:after{
          content:"\f196";
        }

        &[aria-expanded='true']:after{
          content:"\f147";
        }
      }

      a{
        height:48px;
        padding-left:48px;
        line-height:48px;
        text-decoration:none;
      }

      p,
      a{
        display:block;
        position:relative;
        font-size:14px;
        color:#FFF;
        color:rgba(#FFF,.8);
        overflow:hidden;
        @include transition(background-color .25s);

        &:focus{
          background-color:$gray-700;
          outline:none;
        }

        &:hover{
          background-color:$gray-800;
        }
      } // end 'p,a'
    } // end 'li'
  } // end 'ul'
} // end '.navbar'

