// =========================
// Navbar Toggle
// =========================
.nav {
  height: 3em;
  width: 100%;
  padding: 0 1em;
  background-color: #fff;
  z-index: 50;
}

input.nav-toggle {
  display: none;
}

label.nav-toggle {
  position: relative;
  float: left;
  margin-left: -1em;
  padding: 1.50em;

  input.nav-toggle:checked ~ & {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 75;

    .hamburger:before,
    .hamburger:after {
      width: 12px;
    }

    .hamburger:before {
      top: -0.313em;
      @include transform(rotate(-45deg));
    }

    .hamburger:after {
      top: 0.313em;
      @include transform(rotate(45deg));
    }
  }
}


// =========================
// Navbar Menu
// =========================
.nav__side {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -16em;
  width: 16em;
  background-color: $gray-900;
  overflow-y: scroll;
  z-index: 0;
  -webkit-overflow-scrolling: touch;
  @include transition(left 0s cubic-bezier(0.4, 0, 0.2, 1) 0.3s);

  &.nav__open {
    left: 0;
    @include transition(left 0s cubic-bezier(0.4, 0, 0.2, 1) 0s);
  }
}

.nav_menu {
  li {
    border-top: 2px solid $gray-700;

    &:hover,
    &:hover + li {
      border-top: 2px solid $gray-800;
    }
  }

  li:first-child,
  li:first-child:hover {
    border: 0;
  }

  a {
    position: relative;
    display: block;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: rgba(#FFF, 0.8);
    overflow: hidden;
    text-decoration: none;
    padding-left: 1em;
    line-height: 4em;
    @include transition(background-color 0.25s);

    &:focus {
      background-color: $gray-700;
      outline: 0;
    }

    &:hover {
      background-color: $gray-800;
    }
  }
}
