.projects {
  width: 100%;
  list-style: none;
  text-align: center;

  & > li {
    position: relative;
    display: inline-block;
    float: left;
    width: 25%;
    border-bottom: 2px solid $gray-300;
    padding: 16px 0 24px;

    h5 {
      color: rgba(#000,.5);
      @include transition(color .3s);
    }

    .btn {
      opacity: 1;
      @include transition(opacity .3s);
    }

    &.active {
      border: none;

      h5 {
        color: rgba(#000,.75);
      }

      .btn {
        opacity: 0;
      }
    }
  }

  &:before,
  &:after {
    display: table;
    content: ' ';
  }

  &:after {
    clear: both;
  }
} // end '.projects'

.tab {
  display: none;

  &.active {
    display: block;
  }
}

.carousel {
  .item {
    padding-top: 24px;

    h3,
    h4 {
      text-align: center;
    }

    img {
      max-height: 260px;
      left: 50%;
      @include transform(translateX(-50%));
    }

    .col-12 {
      text-align: center;
    }

    .col-4 {
      margin-top: 80px;
    }

    p {
      margin-top: 24px;
    }
  }
} // end '.carousel'
