img {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.image--client {
  height: 96px;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
  opacity: 1;
  @include transition(opacity 1s ease);

  &.hidden {
    opacity: 0;
  }

  img {
    top: 50%;
    @include transform(translateY(-50%));
  }
} // end '.image'

.image--team {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  background-color: #000;

  img{
    position: relative;
    display: block;
    @include transition(opacity .35s ease);
  }

  h4,
  p {
    position: absolute;
    height: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 8px;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    @include transition(height .35s ease);
  }

  h4 {
    top: 0;

    span {
      display: block;
      color: $light-green-500;
      font-weight: 700;
    }
  }

  p {
    bottom: 0;
  }

  &:hover{
    img {
      opacity: 0.5;
    }

    h4 {
      height: 75px;
    }

    p {
      height: 75px;
    }
  } // end '.image--team:hover'

} // end '.image--team'
