*,
*:before,
*:after {
  @include box-sizing(inherit);
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(#000,0);
  @include box-sizing(border-box);
}

body {
  min-width: 320px;
  line-height: 1.4285;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(#000,.75);
  -moz-osx-font-smoothing: grayscale;
  @include font-smoothing(antialiased);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  min-height: 100%;
  margin-top: 56px;
  background-color: #FFF;
  @include transition(left .3s cubic-bezier(.4,0,.2,1));

  &.nav--open{
    left: 260px;
  }

  @include landscape {
    margin-top: 48px;
  }

  @include tablet {
    margin-top: 64px;
  }
} // end '.main'
