*,
*:before,
*:after{
  @include box-sizing(inherit);
}

html{
  font-size:10px;
  -webkit-tap-highlight-color:rgba(#000,0);
  @include box-sizing(border-box);
}

html,
body{
  height:100%;
}

body{
  min-width:320px;
  margin:0;
  padding:0;
  line-height:1.4285;
  font-family:'Roboto',Arial,sans-serif;
  font-size:14px;
  color:#000;
  color:rgba(#000,.75);
  background-color:#FFF;
  overflow-x:hidden;
  -webkit-font-smoothing:antialiased;
          font-smoothing:antialiased;
}

.main{
  position:relative;
  height:100%;
  width:100%;
  background-color:#FFF;
  z-index:25;
  @include transition(all .3s cubic-bezier(.4,0,.2,1) 0s);

  &.nav--open{
    width:calc(100% - 260px);
    left:260px;
  }
} // end '.main'


// Unsure why this needs to be here. stupid mobile safari
#vision,
#squad,
#timeline,
#clients,
#process{
  background-color:$gray-300;
}

