.container.events#events{role: 'tablist', aria: {multiselectable: 'false'}}
  .row.event
    .event__header#mixer-8{role: 'tab'}
      .col-sm-4
        %h4 Monster Mixer #8
        %p.subheader July 25th, 2016

    .event__body.collapse.in#mixer-8-body{role: 'tabpanel', aria: {labelledby: 'mixer-8'}}
      .col-sm-4
        %p.subheader The Copper Door - 225 1/2 N. Broadway, Santa Ana, CA
        %p.event__details Join us Monday July 25th from 8-12 at The Copper Door for an incredible showcase of multiple VR demos & exhibits. There is no formal agenda for this event - attendees arrive, grab a bite and a drink/multiple drinks (Uber there!!), and interact with the various companies showcasing their products and technology.

    %a.btn{href: 'http://bit.ly/vrmixer8', target: '_blank'} Buy Tickets

    .event__controls{data: {toggle: 'collapse', parent: '#events', target: '#mixer-8-body'}, aria: {expanded: 'true', controls: 'mixer-8-body'}}

  .row.event
    .event__header#socalvr{role: 'tab'}
      .col-sm-4
        %h4 SoCal VR Conference
        %p.subheader October 29th, 2016

    .event__body.collapse#socalvr-body{role: 'tabpanel', aria: {labelledby: 'socalvr'}}
      .col-sm-4
        %p.subheader Long Beach Convention Center - 300 E. Ocean Blvd, Long Beach, CA 90802

    %a.btn{href: 'https://www.eventbrite.com/e/socal-vr-con-tickets-24975917642?aff=es2', target: '_blank'} Buy Tickets

    .event__controls{data: {toggle: 'collapse', parent: '#events', target: '#socalvr-body'}, aria: {expanded: 'false', controls: 'socalvr-body'}}
