.container.events#events{role: 'tablist', aria: {multiselectable: 'false'}}
  .row.event
    .event__header#mixer-5{role: 'tab'}
      .col-sm-4
        %h4 Monster Mixer #5
        %p.subheader May 23rd, 2016

    .event__body.collapse.in#mixer-5-body{role: 'tabpanel', aria: {labelledby: 'mixer-5'}}
      .col-sm-4
        %p.subheader The Copper Door - 225 1/2 N. Broadway, Santa Ana, CA
        %p.event__details Join us for the 5th Monster Monday on May 23rd. Hello Monsters! Do you remember being in the classic Arcade as a kid? We are bringing it back with VR E-Sports.

    %a.btn{href: 'https://www.eventbrite.com/e/vr-mixer-multiplayer-vive-demos-interactive-gaming-experiences-food-drinks-fun-tickets-24248245154?aff=erellivmlt', target: '_blank'} Buy Tickets

    .event__controls{data: {toggle: 'collapse', parent: '#events', target: '#mixer-5-body'}, aria: {expanded: 'true', controls: 'mixer-5-body'}}
