.container.events#events{role: 'tablist', aria: {multiselectable: 'false'}}
  .row.event
    .event__header#mixer-7{role: 'tab'}
      .col-6
        %h3 Monster Mixer #7
        %h6 June 20th, 2016
      .col-6
        %a.btn{href: 'https://www.eventbrite.com/e/vr-mixer-multiplayer-vive-demos-interactive-gaming-experiences-food-drinks-fun-tickets-25710528884', target: '_blank'} Buy Tickets

    .event__body.collapse.in#mixer-7-body{role: 'tabpanel', aria: {labelledby: 'mixer-7'}}
      .col-6
        %h6 The Copper Door - 225 1/2 N. Broadway, Santa Ana, CA 92701
        %p.event__details Join us Monday June 20th from 8-12 at The Copper Door for an incredible showcase of multiple VR demos & exhibits. There is no formal agenda for this event - attendees arrive, grab a bite and a drink/multiple drinks (Uber there!!), and interact with the various companies showcasing their products and technology.

      .col-6.event__timer
        .row#mixer-7-timer
          .col-3.col-offset-1
            %h1.days
          .col-3
            %h1.hours
          .col-1
            %h1 :
          .col-3
            %h1.minutes
        .row
          .col-3.col-offset-1
            %h6 Days
          .col-3
            %h6 Hours
          .col-3.col-offset-1
            %h6 Minutes

    .event__controls{data: {toggle: 'collapse', parent: '#events', target: '#mixer-7-body'}, aria: {expanded: 'true', controls: 'mixer-7-body'}}

  .row.event
    .event__header#socalvr{role: 'tab'}
      .col-6
        %h3 SoCal VR Conference
        %h6 October 29th, 2016
      .col-6
        %a.btn{href: 'https://www.eventbrite.com/e/socal-vr-con-tickets-24975917642?aff=es2', target: '_blank'} Buy Tickets

    .event__body.collapse#socalvr-body{role: 'tabpanel', aria: {labelledby: 'socalvr'}}
      .col-6
        %h6 Long Beach Convention Center - 300 E. Ocean Blvd, Long Beach, CA 90802

      .col-6.event__timer
        .row#socalvr-timer
          .col-3.col-offset-1
            %h1.days
          .col-3
            %h1.hours
          .col-1
            %h1 :
          .col-3
            %h1.minutes
        .row
          .col-3.col-offset-1
            %h6 Days
          .col-3
            %h6 Hours
          .col-3.col-offset-1
            %h6 Minutes

    .event__controls{data: {toggle: 'collapse', parent: '#events', target: '#socalvr-body'}, aria: {expanded: 'false', controls: 'socalvr-body'}}
