@font-face {
  font-family: 'Raleway';
}

html,
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Raleway';
  color: transparent !important;
  background-color: transparent !important;
  -webkit-backface-visibility: visible;
}

.video{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.text {
  position: relative;
  margin: 0;
  font-size: 65px;
  color: white;
  text-align: center;
  z-index: 4;
}

.text span {
  color: rgb(35,255,68);
}

.row {
  position: absolute;
  bottom: 25px;
  width: 100%;
}

.column {
  position: relative;
  width: 100%;
  margin: 20px 0;
  text-align: center;
  z-index: 4;
}

.column:before,
.column:after {
  content: " ";
  display: table;
}

.column:after {
  clear: both;

}

.button{
  display:inline-block;
  min-width: 200px;
  margin: 0 20px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 35px;
  font-family: 'Raleway';
  color: #fff;
  background-color: rgb(35,255,68);
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  outline: 0;
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 550px) {
/* Styles */

  .column{
    left: 25%;
    width: 50%;
  }

  .text{
    top:5%;
  } 
}    







