

@font-face {
	font-family: 'Raleway';
	
}

#video{
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	z-index: 3;
}

.centered {
  font-family: 'Raleway';
  font-size: 25px;
  color:white;
  border-radius: 5%;
  position: fixed;
  bottom:1%;
  left: 2%;
  z-index: 3;
  text-align: center;
  
 
}

.monsterText {
	font-family: 'Raleway';
  font-size: 60px;
	color: white;
	position: fixed;
  bottom: 0%;
  right: 0%;
  z-index: 3;


  
  
  }
div.monsterText > p > span {
  	color:rgb(35,255,68);
}
.monsterText > p {
	margin: 0;
}
.centered > h3 {
  margin: 0;
}
div.centered > form > input[type="text"]{
	width: 75%;
  height: 20px;
	border-radius: 5px;
}
div.centered > form > input[type="email"]{
  width: 75%;
  height: 20px;
  border-radius: 5px;
}

div.centered > form > input[type="submit"]
{
 	width:25%;
 	margin-top: 5%;

 	transition: background-color 0.25s;
 }
div.centered > form > input[type="submit"]:hover{
 	background-color:rgb(35,255,68);
 	border-radius: 5px;
 	border:none;
 	

}


@media only screen and (min-width: 767px) {
		.centered {
    		width:40%;
    	}
  
  }

@media only screen and (max-width: 767px) {
    /* phones */

    .centered {
    	bottom:3%;
    	left:1%;
      

    	
    }

    .monsterText{
    	
    	right:10%;
    	top:10%;
      height:25%;
    }
    


}











