/*=========================
           Inputs
=========================*/
.input{
  position:relative;
  display:-webkit-inline-box;
  display:-webkit-inline-flex;
  display:-ms-inline-flexbox;
  display:inline-flex;

  input{
    outline:none;
    max-width:100%;
    margin:0;
    border:1px solid rgba(#222426,.15);
    border-radius:3px;
    padding:9px 14px;
    text-align:left;
    font-size:inherit;
    line-height:1.2142em;
    color:rgba(#000,.87);
    background-color:#FFF;
    box-shadow:none;
    -webkit-box-flex:1;
    -webkit-flex:1 0 auto;
        -ms-flex:1 0 auto;
            flex:1 0 auto;
    -webkit-tap-highlight-color:rgba(#FFF,0);
    -webkit-transition:box-shadow 0.1s ease, border-color 0.1s ease;
            transition:box-shadow 0.1s ease, border-color 0.1s ease;

    &::-webkit-input-placeholder{
    color:rgba(#000,.4) }

    &::-moz-placeholder{
      color:rgba(#000,.4) }

    &::-ms-input-placeholder{
      color:rgba(#000,.4) }

  } // end 'input'

  input:active{
    border-color:rgba(#000,.3);
    color:rgba(#000,.87);
    background-color:#FAFAFA;
    box-shadow:none }

  input:focus{
    border-color:#85B7D9;
    color:rgba(#000,.8);
    background-color:#FFF;
    box-shadow:none;

    &::-webkit-input-placeholder{
    color:rgba(#000,.87) }

    &::-moz-placeholder{
      color:rgba(#000,.87) }

    &::-ms-input-placeholder{
      color:rgba(#000,.87) }

  } // end 'input:focus'

  input.invalid{
    border-color:#E0B4B4;
    color:#9F3A38;
    background-color:#FFF6F6;
    box-shadow:none;

    &::-webkit-input-placeholder{
    color:#E7BDBC }

    &::-moz-placeholder{
      color:#E7BDBC }

    &::-ms-input-placeholder{
      color:#E7BDBC }

    &:focus::-webkit-input-placeholder{
    color:#DA9796 }

    &:focus::-moz-placeholder{
      color:#DA9796 }

    &:focus::-ms-input-placeholder{
      color:#DA9796 }

  } // end 'input.invalid'
} // end '.input'

input[type='text'],
input[type='email']{
  -webkit-appearance:none;
     -moz-appearance:none;
}

