.ripple {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  @include transform(scale(0, 0));
  @include animation(buttonClick 0.7s);
}

.hamburger {
  left: 0;
  top: 0;

  &,
  &:before,
  &:after {
    display: block;
    position: absolute;
    height: 3px;
    width: 24px;
    background-color: #000;
    @include transition(all 0.3s cubic-bezier(0.4, 0, 0.2, 1));
  }

  &:before,
  &:after {
    content: "";
  }

  &:before {
    top: -5px;
  }

  &:after {
    top: 5px;
  }
}

.canvas {
  min-height: 100%;
}