.container#projects
  %ul.projects{role: 'tablist'}
    %li.active{role: 'presentation'}
      %h5 Virtual Reality
      %a.btn.btn--sml{href: '#vr-projects', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'vr-projects'}} Learn More
    %li{role: 'presentation'}
      %h5 Events
      %a.btn.btn--sml{href: '#events-projects', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'events-projects'}} Learn More
    %li{role: 'presentation'}
      %h5 360 Videos
      %a.btn.btn--sml{href: '#videos-projects', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'videos-projects'}} Learn More
    %li{role: 'presentation'}
      %h5 Consultation
      %a.btn.btn--sml{href: '#consultation-projects', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'consultation-projects'}} Learn More

  = render 'partials/projects/sections/vr_projects_carousel'
  = render 'partials/projects/sections/events_projects_carousel'
  = render 'partials/projects/sections/videos_projects_carousel'
  = render 'partials/projects/sections/consultation_projects_carousel'
