.container#projects
  %ul.projects{role: 'tablist'}
    %li.active{role: 'presentation'}
      %h5 Games
      %a.btn.btn--sml{href: '#games', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'games'}} Learn More
    %li{role: 'presentation'}
      %h5 Experiences
      %a.btn.btn--sml{href: '#experiences', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'experiences'}} Learn More
    %li{role: 'presentation'}
      %h5 360 Videos
      %a.btn.btn--sml{href: '#videos', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'videos'}} Learn More
    %li{role: 'presentation'}
      %h5 Consulting
      %a.btn.btn--sml{href: '#consulting', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'consulting'}} Learn More

  = render 'partials/projects/sections/games_carousel'
  = render 'partials/projects/sections/experiences_carousel'
  = render 'partials/projects/sections/videos_carousel'
  = render 'partials/projects/sections/consulting_carousel'
