.container#projects
  %ul.projects{role: 'tablist'}
    %li.active{role: 'presentation'}
      %a{href: '#vr-projects', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'vr-projects'}}
        %h5 Virtual Reality
    %li{role: 'presentation'}
      %a{href: '#events-projects', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'events-projects'}}
        %h5 Past Events
    %li{role: 'presentation'}
      %a{href: '#videos-projects', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'videos-projects'}}
        %h5 360 Videos
    %li{role: 'presentation'}
      %a{href: '#consultation-projects', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'consultation-projects'}}
        %h5 Consultation

  = render 'partials/projects/sections/vr_projects_carousel'
  = render 'partials/projects/sections/events_projects_carousel'
  = render 'partials/projects/sections/videos_projects_carousel'
  = render 'partials/projects/sections/consultation_projects_carousel'
