.container#clients
  .row
    .image.col-4
      %img{src: asset_path('boost.png')}
    .image.col-4
      %img{src: asset_path('samsung.png')}
    .image.col-4
      %img{src: asset_path('oculus.png')}
  .row
    .image.col-3
      %img{src: asset_path('unity.png')}
    .image.col-3
      %img{src: asset_path('uci.png')}
    .image.col-3
      %img{src: asset_path('mattel.png')}
    .image.col-3
      %img{src: asset_path('htc.png')}
  .row
    .image.col-4
      %img{src: asset_path('sdzoo.png')}
    .image.col-4
      %img{src: asset_path('valve.png')}
    .image.col-4
      %img{src: asset_path('jmp.png')}