.container#experiences
  .row
    .col-6
      %h3 Immersive Experiences
      %img{src: asset_path('old-sparky-1.jpg')}

    .col-6
      %img{src: asset_path('old-sparky-2.jpg')}
      %h3 Old Sparky
      %h6 Behold the all-immersive simulated electric chair experience with a twist: zombies!
      %a.button{href: '#experiences'} Learn More
