.container#clients
  .row
    .image--client.hidden.col-4
      %img{src: asset_path('boost.png')}
    .image--client.hidden.col-4
      %img{src: asset_path('samsung.png')}
    .image--client.hidden.col-4
      %img{src: asset_path('oculus.png')}

    .image--client.hidden.col-4.col-4.col-offset-2
      %img{src: asset_path('unity.png')}
    .image--client.hidden.col-4
      %img{src: asset_path('valve.png')}

    .image--client.hidden.col-4
      %img{src: asset_path('htc.png')}
    .image--client.hidden.col-4
      %img{src: asset_path('uci.png')}
    .image--client.hidden.col-4
      %img{src: asset_path('sdzoo.png')}
