.container#clients
  .row
    .image--client.hidden.col-12
      %h2#partners PARTNERS
  .row
    .image--client.hidden.col-sm-2.col-lg-3.col-lg-offset-1
      %img{src: asset_path('boost.png')}
    .image--client.hidden.col-sm-2.col-lg-3
      %img{src: asset_path('samsung.png')}

    .image--client.hidden.col-sm-2.col-lg-3.col-lg-offset-1
      %img{src: asset_path('oculus.png')}
    .image--client.hidden.col-sm-2.col-lg-3
      %img{src: asset_path('unity.png')}

    .image--client.hidden.col-sm-2.col-lg-3.col-lg-offset-1
      %img{src: asset_path('htc.png')}
    .image--client.hidden.col-sm-2.col-lg-3
      %img{src: asset_path('uci.png')}

    .image--client.hidden.col-sm-2.col-lg-3.col-lg-offset-1
      %img{src: asset_path('valve.png')}
    .image--client.hidden.col-sm-2.col-lg-3
      %img{src: asset_path('sdzoo.png')}