.container.process#process
  .row
    .col-8
      %img{src: asset_path('innovate.jpg')}
    .col-4.col-pull-1
      %h3 <span>01</span> Innovate
      %p Curating new experiences, mixing and matching storytelling with sensory immersion, and teaching as technology evolves.

  .row
    .col-8.col-push-4
      %img{src: asset_path('collaborate.jpg')}
    .col-4.col-pull-7
      %h3 <span>02</span> Collaborate
      %p We bring together a diverse background of deeply talented creators to build something that no one in their individual industry could do by themselves.

  .row
    .col-8
      %img{src: asset_path('develop.jpg')}
    .col-4.col-pull-1
      %h3 <span>03</span> Develop
      %p Developing ideas by mixing technologies like virtual reality, internet of things (IOT), and robotics to produce an immersive cohesive experience.
