.container.squad#squad
  .row
    .col-6
      .image--team
        %img{src: asset_path('dylan.jpg')}
        %h3 Dylan Watkins <span>CEO</span>

    .col-6
      .image--team
        %img{src: asset_path('matt.jpg')}
        %h3 Matt Kinney <span>CPO</span>

  .row
    .col-6
      .image--team
        %img{src: asset_path('aaron.jpg')}
        %h3 Aaron Lane <span>COO</span>

    .col-6
      .image--team
        %img{src: asset_path('sean.jpg')}
        %h3 Sean Lavery <span>CTO</span>
