.container.squad#squad
  .row
    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('dylan.jpg')}
        %h4 Dylan Watkins <span>CEO</span>
        %p Pitchfork disrupt fanny pack austin gochujang, cold-pressed farm-to-table. Single-origin coffee salvia kinfolk, pour-over waistcoat intelligentsia literally man braid flannel 90's chambray normcore.

    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('matt.jpg')}
        %h4 Matt Kinney <span>CPO</span>
        %p Fap swag green juice wayfarers 90's ethical brunch, narwhal typewriter semiotics chicharrones cred keytar. Asymmetrical listicle swag cold-pressed, crucifix pitchfork disrupt knausgaard.

    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('aaron.jpg')}
        %h4 Aaron Lane <span>COO</span>
        %p Cray YOLO blog, marfa you probably haven't heard of them cornhole tofu echo park irony cronut. Cray single-origin coffee twee flannel, occupy hella cronut.

    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('sean.jpg')}
        %h4 Sean Lavery <span>CTO</span>
        %p Skateboard chillwave knausgaard hella. Deep v narwhal godard sartorial swag normcore, everyday carry ennui next level master cleanse heirloom.
