.container.team#team
  .row
    .image--client.hidden.col-12
      %h2#team TEAM
  .row
    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('dylan.jpg')}
        %h4 Dylan Watkins <span>CEO</span>
    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('matt.jpg')}
        %h4 Matt Kinney <span>CPO</span>
    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('sean.jpg')}
        %h4 Sean Lavery <span>CTO</span>
    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('tanya.jpg')}
        %h4 Tanya Miramontes <span>CFO</span>
    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('patrick.jpg')}
        %h4 Patrick Eleazer <span>COO</span>
    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('pete.png')}
        %h4 Peter Fiacco <span>COO</span>