.container.team#team
  .row
    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('dylan.jpg')}
        %h4 Dylan Watkins <span>CEO</span>
    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('matt.jpg')}
        %h4 Matt Kinney <span>CPO</span>
    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('sean.jpg')}
        %h4 Sean Lavery <span>CTO</span>
    .col-sm-4.col-lg-4
      .image--team
        %img{src: asset_path('tanya.jpg')}
        %h4 Tanya Miramontes <span>CFO</span>
