.container.vision#vision
  .row
    .col-6
      %h1 Feel <span>Alive</span>
    .col-6
      %p Monster VR is a community-driven development house.
      %p We were created on the frontlines of the VR revolution as founders of Orange County's premiere, VR meetup organization, OCVR. We’re a seasoned host of large-scale hackathons, monthly social mixers, conferences, and educational classes. In addition to developing VR games, we offer a variety of consulting and development services in conjunction with other VR enthusiasts. Our home is within the community, helping them discover professional and personal growth. Whether through fear, excitement, humor or love, our projects are more than a technical “show and tell”, they’re experiences to make people feel ALIVE.
      %p We’re changing the way people understand, build, and share the world with VR."