.container.vision#vision
  .row
    .col-4
      %h1 Feel <span>Alive</span>
    .col-4
      %p Whether that is through fear, excitement, laughter or love.
      %p We are a community-driven virtual reality development house. It was created on the frontlines of the VR revolution. We evolved from our Orange County VR meetup group, where we focused on bringing together like-minded people with a passion for developing VR/AR experiences.
      %p Our goal is simple: To make you question reality with a Monstrous experience you will never forget!
