.row {
  margin-right: -16px;
  margin-left: -16px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}

@include build-columns('', 12);
