@import "components/form/main";

.form {
  .fa {
    top: 3px;
    font-size: 24px;
  }

  .btn {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.input {
  input {
    min-height: 40px;
  }

  textarea {
    min-height: 80px;
  }
}
