@import 'components/timeline/main';

.timeline {
  &:before {
    content: 'mobile';
  }

  .hidden {
    display: none;
  }

  @include screen-md {
    .hidden {
      display: block;
    }
  }
} // end '.timeline'

.events__content {
  li {
    padding: 0;
  }

  @include screen-md {
    li {
      padding: 0 32px;
    }
  }
} // end '.events__content'
