.footer {
  position: relative;
  height: 3em;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgba(#fff, 0.8);
  background-color: $gray-900;
  z-index: 25;
  @include transition(left .3s cubic-bezier(0.4, 0, 0.2, 1));

  p,
  a {
    margin: 0;
    line-height: 3em;
  }

  p {
    text-align: center;
  }

  a {
    display: inline-block;
    float: left;
    width: 2em;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
  }
}

.social-media {
  width: 6em;
  margin: 0 auto;
}

.fa-twitter-square {
  color: #55acee;
}

.fa-facebook-square {
  color: #3b5998;
}
