%nav.nav__side#nav
  %ul.nav_menu
    %li
      %a{href: "#vision"} Vision
    %li
      %a{href: "#projects"} Projects
    %li
      %a{href: "#clients"} Clients
    %li
      %a{href: "#team"} Team
    %li
      %a{href: "#timeline"} Timeline
    %li
      %a{href: "#events"} Upcoming Events
    %li
      %a{href: "#contact"} Contact
