.modal.fade#image-modal{tabindex: "-1", role: "dialog"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header.clearfix
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {label: "Close"}}
          %span{aria: {hidden: "true"}} &times;

      .modal-body
        %img#modal-image
