%footer.footer#footer
  .col-sm-2
    %p Monster VR
  .col-sm-2
    .social-media
      %a{href: 'https://www.facebook.com/SocalVR', target: '_blank'}
        %i.fa.fa-facebook-square.fa-lg
      %a{href: 'https://twitter.com/socalvr', target: '_blank'}
        %i.fa.fa-twitter-square.fa-lg
