%footer.footer
  .col-3
    %p Monster VR
  .col-3
    %p Irvine, CA
  .col-3
    %p Powered by Creativity & Passion
  .col-3
    .social-media
      %a{href: 'https://www.facebook.com/SocalVR', target: '_blank'}
        %i.fa.fa-facebook-square.fa-lg
      %a{href: 'https://twitter.com/socalvr', target: '_blank'}
        %i.fa.fa-twitter-square.fa-lg
