%footer.footer
  .col-3
    %p Monster VR
  .col-3
    %p Irvine, CA
  .col-3
    %p Powered by Creativity & Passion
  .col-3
    .social-media
      %a{href: 'https://www.facebook.com/Monster-VR-690926104384682/', target: '_blank'}
        %i.fa.fa-facebook-square.fa-lg
      %a{href: 'https://twitter.com/monstervr_', target: '_blank'}
        %i.fa.fa-twitter-square.fa-lg
      %a{href: 'https://www.youtube.com/channel/UC6jmMCozMsxA92gZL8UqBmg', target: '_blank'}
        %i.fa.fa-youtube-play.fa-lg

