%header.header#header
  %iframe{src: 'https://www.youtube.com/embed/kbAuLJH7AjE', allowfullscreen: 'true'}

%nav.nav#nav
  %ul.nav__menu
    %li
      %p#about-toggle{tabindex: '1', data: {target: '#about-collapse'}} About
    %li
      %a{href: '#projects', tabindex: '7'} Projects
    %li
      %a{href: '#events', tabindex: '8'} Events
    %li
      %a{href: '#contact', tabindex: '9'} Contact

  %ul.nav__sub-menu.collapse#about-collapse{style: 'height: 0px;', aria: {labelledby: 'about-toggle'}}
    %li
      %a{href: '#vision', tabindex: '2'} Vision
    %li
      %a{href: '#squad', tabindex: '3'} Team Squad
    %li
      %a{href: '#timeline', tabindex: '4'} Timeline
    %li
      %a{href: '#clients', tabindex: '5'} Clients
    %li
      %a{href: '#process', tabindex: '6'} Process
