%header.header#header
  %img#bg{src: asset_path('Artboard.png')}

%nav.nav#nav
  %ul.nav__menu
    %li
      %p#about-toggle{tabindex: '1', data: {target: '#about-collapse'}} About
    %li
      %a{href: '#projects', tabindex: '7'} Projects
    %li
      %a{href: 'https://www.meetup.com/OC-Virtual-Reality-Meetup/', tabindex: '8'} Community Events
    %li
      %a{href: '#contact', tabindex: '9'} Contact

  %ul.nav__sub-menu.collapse#about-collapse{style: 'height: 0px;', aria: {labelledby: 'about-toggle'}}
    %li
      %a{href: '#vision', tabindex: '2'} Vision
    %li
      %a{href: '#clients', tabindex: '3'} Partners
    %li
      %a{href: '#team', tabindex: '4'} Team
    %li
      %a{href: '#timeline', tabindex: '5'} Timeline

  / %iframe{src: 'https://www.youtube.com/embed/kbAuLJH7AjE', allowfullscreen: 'true'}
  
