%footer.footer
  .row
    .col-xs-6.col-md-3
      %p Monster VR
    .col-xs-2
      %p Irvine, CA
    .col-xs-4
      %p Powered by Creativity & Passion
    .col-xs-6.col-md-3
      .social-media
        %a.fa.fa-facebook-square{href: "https://www.facebook.com/SocalVR"}
        %a.fa.fa-twitter-square{href: "https://twitter.com/socalvr"}
