%nav#nav
  %iframe{src: "https://www.youtube.com/embed/kbAuLJH7AjE"}

  .nav.nav_menu
    %ul
      %li
        %a{href: "#vision"} Vision
      %li
        %a{href: "#projects"} Projects
      %li
        %a{href: "#clients"} Clients
      %li
        %a{href: "#team"} Team
      %li
        %a{href: "#timeline"} Timeline
      %li
        %a{href: "#events"} Upcoming Events
      %li
        %a{href: "#contact"} Contact